<div id="title-wrapper">
  <h1 class="title">{{greeting}}</h1>
</div>

<div id="resume">
  <div *ngFor="let section of sections; let i = index" [class]="'section info' + i" [class.info-left]=section.left [class.infosel]=section.active>
    <h1 class="title" (click)="titleClicked(i)">{{section.title}}</h1>
    <section class="info" (transitionend)="transitionEnd(i)" [class.info-expand]=section.active [innerHTML]="section.content"></section>
  </div>
  <!-- <div class="section info0">
    <h1 class="title">Experience</h1>
    <section *ngIf="false" [innerHTML]="info[0]"></section>
  </div>
  <div class="section info1">
    <h1 class="title">Education</h1>
    <section *ngIf="false" [innerHTML]="info[1]"></section>
  </div>
  <div class="section info2">
    <h1 class="title">Projects</h1>
    <section *ngIf="false" [innerHTML]="info[2]"></section>
  </div>
  <div class="section info3">
    <h1 class="title">Skills</h1>
    <section *ngIf="false" [innerHTML]="info[3]"></section>
  </div>
  <div class="section info4">
    <h1 class="title section">Contact</h1>
    <section  *ngIf="false"[innerHTML]="info[4]"></section>
  </div> -->
</div>
<img id="gabe" src="./assets/gabe_transparent.png">
<img id="gabe2" [class.gabe2opacity]=isActive src="./assets/gabe_transparent.png">
